<div class="row">
	<div class="columns medium-6">
		<h3>Newsletter</h3>
		<p>
			Stay on top of what’s happening in Trailblazer
		</p>
			<div class="row">
				<div class="columns large-9 medium-12 ">
					<div class="row collapse prefix-radius">
		        <div class="small-8 medium-7 large-8 columns">
		          <input type="text" placeholder="youremail@trailblazer.com">
		        </div>
		        <div class="small-4 medium-5 large-4 columns">
		          <a href="#" class="button postfix">Sign up</a>
		        </div>
		      </div>
				</div>
			</div>
      

	</div>
	<div class="columns medium-6">
		<h3>The Book</h3>
		<p>300 pages full of wisdom about Trailblazer and its gems, such as Reform, Cells and Roar.</p>
	</div>
</div>

