<div class="row">
	<div class="columns medium-6">
		<h3>Newsletter</h3>
		<p>
			Stay on top of what’s happening in Trailblazer.
		</p>
			<div class="row">
				<div class="columns large-9 medium-12 ">
					<div class="row collapse prefix-radius">
		        <div class="small-8 medium-7 large-8 columns">
		          <input type="text" placeholder="youremail@trailblazer.com">
		        </div>
		        <div class="small-4 medium-5 large-4 columns">
		          <a href="#" class="button postfix secondary">Sign up</a>
		        </div>
		      </div>
				</div>
			</div>
		<p>
			And check out the <a href="/newsletter/">archive of newsletters</a>!
		</p>


	</div>
	<div class="columns medium-6">
		<h3>The Book</h3>
		<p>Learn how to built a Rails app with Trailblazer, step-by-step.</p>
		<a href="/books/trailblazer.html" class="button radius tiny secondary">Check Out Book!</a>
	</div>
</div>

